@import '../utils/variables.scss';

* {
    padding: 0px;
    margin: 0px;
    font-family: "Pixelify Sans", sans-serif;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 110%;
    background-color: $grey;
}

a {
    text-decoration: none;
    color: $primary-color;
}

button {
    padding: 10px 18px;
    border: 0px solid;
    border-radius: 8px;
    color: $white;
    background-color:$primary-color;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: $secondary-color;
    padding: 12px 20px;
}

input {
    padding: 10px;
    border-radius: 8px;
}