// Importa las variables y mixins primero
// @import '../styles/utils/variables.scss';
@use '../styles/utils/variables.scss';
// @import '../styles/utils/mixins.scss';

// Luego, importa estilos globales o generales
@use './views/App';

// Finalmente, importa los estilos de los componentes
@import "./components/_Header.scss";
@import "./components/_Footer.scss";
@import "./components/_ClasesList.scss";
@import "./components/_ClaseItem.scss";
@import "./components/_ClassButtons.scss";
@import "./components/_SearchBar.scss";
@import "./components/_TalentTree.scss";
@import "./components/_SubClasesInfo.scss";
@import "./components/_Razas.scss";
@import "./components/_Identidad.scss";
@import "./components/_Calendario.scss";

// @import "./components/_Reinos.scss";
// @import "./components/_Conquest.scss";  





body {
    background-color: #003B73;
    color: #F8F1E5;
  }