$primary-color: #3e4ec8;
$secondary-color: #fccc0c;
$shadow-color:rgb(152, 138, 164);
$black: #03121c;
$white: rgb(255, 227, 227);
$grey:rgb(205, 191, 218);
$dark-grey:rgb(79, 74, 83);
$background:rgb(196, 151, 233);
$light-blue: rgb(16, 163, 208);



$ipad-breakpoint: 768px;